/EmiratesAuctionChateBot/.vs
/EmiratesAuctionChateBot/BL/obj
/EmiratesAuctionChateBot/BL/bin
/EmiratesAuctionChateBot/DAL/obj
/EmiratesAuctionChateBot/DAL/bin
/EmiratesAuctionChateBot/EmiratesAuctionChateBot/obj
/EmiratesAuctionChateBot/EmiratesAuctionChateBot/bin
/EmiratesAuctionChateBot/Helpers/obj
/EmiratesAuctionChateBot/Helpers/bin
/EmiratesAuctionChateBot/ViewModels/obj
/EmiratesAuctionChateBot/ViewModels/bin
/EmiratesAuctionChateBot/EmiratesAuctionChateBot/.config/dotnet-tools.json
/EmiratesAuctionChateBot/EmiratesAuctionChateBot/Properties/PublishProfiles/FolderProfile.pubxml
/EmiratesAuctionChateBot/EmiratesAuctionChateBot/Properties/PublishProfiles/FolderProfile.pubxml.user
